@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Ubuntu-Bold;
    font-weight: 700;
    src: url(/src/fonts/Ubuntu-Bold.ttf) format("tff");
  }
  @font-face {
    font-family: Ubuntu-Regular;
    font-weight: 400;
    src: url(/src/fonts/Ubuntu-Regular.ttf) format("tff");
  }
  @font-face {
    font-family: Ubuntu-Meduium;
    font-weight: 500;
    src: url(/src/fonts/Ubuntu-Medium.ttf) format("tff");
  }
}
